<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/common.js"></script>
    <script src="/index_script.js"></script>
    <title>chat - main</title>
</head>
<body>
    {{>navbar}}  

    <div class="container">

      <!-- begin sidebar -->
      <div class="sideBar">

        <!-- sidbar title -->
        <div class="sideBarTitle">
          <h2>Your chats</h2>
        </div>

        <!-- friend chats -->
        <div class="friendChats">
          <h3>Friends</h3>
          {{#friendChats}}
          <div class="chatWindow friendChatWindow" data-mongo-id="{{id}}">
            <p class="chatName">{{friend}}</p>
            <p class="chatPreview">{{mostRecentMessage}}</p>
          </div>
          {{/friendChats}}
          {{^friendChats}}
          <p class="discoverMsg">Find friends using "Explore" in the top right corner</p>
          {{/friendChats}}
        </div>
        <!-- end individual chats -->

        <!-- community chats -->
        <div class="communityChats">
          <h3>Communities</h3>
          {{#communityChats}}
          <div class="chatWindow communityChatWindow" data-mongo-id="{{id}}"> 
            <p class="chatName">{{community}}</p>
            <p class="chatPreview">{{mostRecentMessage}}</p>
          </div>
          {{/communityChats}}
          {{^communityChats}}
          <p class="discoverMsg">Find communities using "Explore" in the top right corner</p>
          {{/communityChats}}
        </div>
        <!-- end community chats -->

        <div id="currentlyOnline">
          <h3>Currently online</h3>
          <div class="onlineUserContainer">
            <span class="onlineUsername">Testuser</span> <span class="onlineDot"></span>
          </div>
        </div>

        <div id="unreadMessagesContainer">
          You have <span id="unreadMessageCount">0</span> unread messages in this session.
        </div>

      </div>
      <!-- end sidebar -->
        
      <!-- begin main panel -->
      <div id="main">

        <div class="chatTitleContainer">
          <h4 id="chatTitle">ChatName</h4>
        </div>

        <div id="allMessagesContainer">

          <div class="msgSection from">
            <div class="message">
              <div class="messageContent">
                Lorem ipsum dolor sit amet.
              </div>
              <div class="messageMeta">
                17:30
              </div>
            </div>
          </div>
  
          <div class="msgSection from">
            <div class="message">
              <div class="messageContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor porro nostrum quos veniam laborum quis natus, sequi consectetur id quo quibusdam sunt debitis voluptatem! Facere est hic eveniet aspernatur.
              </div>
              <div class="messageMeta">
                17:31
              </div>
            </div>
          </div>
  
          <div class="msgSection to">
            <div class="message">
              <div class="messageContent">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </div>
              <div class="messageMeta">
                17:43
              </div>
            </div>
          </div>
  
          <div class="msgSection from">
            <div class="message">
              <div class="messageContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ipsum!
              </div>
              <div class="messageMeta">
                17:50
              </div>
            </div>
          </div>
  
          <div class="msgSection to">
            <div class="message">
              <div class="messageContent">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi sed odit alias voluptatum est. Ipsam accusantium culpa quibusdam ullam nesciunt illum modi molestiae, veniam dicta.
              </div>
              <div class="messageMeta">
                17:53
              </div>
            </div>
          </div>
  
          <div class="msgSection to">
            <div class="message">
              <div class="messageContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, possimus!
              </div>
              <div class="messageMeta">
                17:53
              </div>
            </div>
          </div>

        </div>

        <div class="messageInputContainer">
          <div class="messageInputGroup">
            <textarea id="messageInputField"></textarea><button id="sendBtn">send</button>
          </div>
        </div>
      </div>
      <!-- end main panel -->
    
    </div>
</body>
</html>
