
<div class="navBar">
  <div class="navTitle">
    <h1><a href="/">Chatter</a></h1>
  </div>
  
  <div class="dropdownContent">
    <span class="exploreSpan dropdownMember">Explore</span>
    <div class="hiddenDropdown">
      <span class="dropdownItem dropdownMember" id="usersSpan"><a href="/users">Users</a></span>
      <span class="dropdownItem dropdownMember" id="communitiesSpan"><a href="/communities">Communities</a></span>
      <span class="dropdownItem dropdownMember" id="logoutSpan">Logout</span>
    </div>
  </div>

</div>
