* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --sidebar-width: 10rem;
    --top-height: 3rem; 
    --dropdown-height: 2rem;
    --dropdown-width: 150px;
    --my-blue: rgba(17, 127, 218, 0.6)
}

/* 
======================
Login page styles 
======================
*/
.loginContainer {
  max-width: 40rem;
}

#mainHeading {
  text-align: center;
}

.loginInputContainer {
  max-width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

#loginBtn {
  display: block;
  padding: 0.5rem;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#loginBtn:hover {
  background: black;
  color: white;
}

/*
======================
Navbar styles
======================
*/

.navBar {
    height: var(--top-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 2px solid black; */
}

.navTitle {
  border-bottom: 3px solid var(--my-blue);
  margin-left: auto;
  transform: translateX(calc(var(--dropdown-width) / 2));
}

.navTitle a {
  text-decoration: none;
  color: black;
}

.navTest {
  height: 3rem;
  display: flex;
  justify-content: center;
}

/* Dropdown styles */

.dropdown {
  position: relative;
  width: var(--dropdown-width);
  margin-left: auto;
  z-index: 1;
  background: white;
}

.dropdown:hover .hiddenDropdown {
  display: block;
}


.dropdown a {
  text-decoration: none;
  color: black;
}

#exploreSpan {
  text-decoration: underline;
  font-size: 1rem;
}

.dropdownMember {
  display: inline-block;
  width: var(--dropdown-width);
  text-align: center;
  height: var(--dropdown-height);
  line-height: var(--dropdown-height);
}

.dropdownItem {
  background: white;
  z-index:1;
}

.dropdownItem:hover {
  background: rgb(17, 127, 218);
  z-index: 1;
}

.hiddenDropdown {
  position: absolute;
  left: 0;
  display: none;
}

#logoutSpan {
  cursor: pointer;
}

.exploreHeading {
  margin-left: 2rem;
}

.exploreList {
  padding: 0.5rem 1.5rem;
}

.exploreList li {
  padding: 0.25rem 0;
}

/* 
======================
Index styles
======================
*/

/* Layout */

.container {
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - var(--top-height));
}

#main {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sideBar {
    min-width: var(--sidebar-width);
    max-width: 15%;
    background: var(--my-blue);
}

/* Sidebar styles */

.chatWindow {
    border: 1px solid gray;
    height: 5rem;
    line-height: 1rem;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}

.chatName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.chatPreview {
    font-size: 0.8rem;
    max-height: 3rem;
    overflow: hidden;
}

.sideBarTitle {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sideBar h2 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px solid white;
    display: inline-block;
    vertical-align: bottom;
}

.communityChats, .friendChats, #currentlyOnline {
  margin-top: 1.5rem;
}

.communityChats h3, .friendChats h3, #currentlyOnline h3 {
  margin-bottom: 0.5rem;
}

.onlineDot {
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  background: lime;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.onlineUsername {
  margin-left: 0.5rem;
}

.onlineUserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#unreadMessagesContainer {
  margin-top: 1.5rem;
  text-align: center;
}

#unreadMessageCount {
  font-size: 1.5rem;
  font-weight: bold;
}

.discoverMsg {
  font-size: 0.75rem;
}


.chatWindow:hover {
    background:  rgba(255, 255, 255, 0.5);
}

/* Main message window styles */

.msgSection {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.message {
  border: 1px solid var(--my-blue);
  max-width: 15rem;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  padding: 0.25rem;
}

.messageMeta {
  text-align: right;
  font-size: 0.75rem;
  margin-top: 0.125rem;
}

.from {
  justify-content: flex-start;
}

.to {
  justify-content: flex-end;
}

.messageInputContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageInputGroup {
  margin: 0;
  min-width: 300px;
  width: 40vw;
  vertical-align: middle;
  display: flex;
  margin-bottom: 0.25rem;
}

#sendBtn {
  height: 2rem;
  width: 4rem;
  display: inline-block;
}

#messageInputField {
  height: 2rem; /* JAVASCRIPT IS ALSO AFFECTING THIS!!! */
  min-width: calc(300px - 4rem);
  width: calc(40vw - 4rem);
  margin-right: 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 2rem;
  overflow-y: hidden;
  vertical-align: center;
  resize: none;
}

.chatTitleContainer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

#chatTitle {
  /* border: 1px solid blue; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}



/*
======================
Community and friends pages styles
======================
*/

.addButton, .joinButton {
  margin-left: 0.5rem;

}

.communityInputContainer{
  margin: 1rem;
}